/* Set all elements to be resized by their actual outer bounds */
* {
  box-sizing: border-box;
}

body {
  padding: 10px;
}

button {
  margin-right: 10px;
}

.top_menu {
  margin-bottom: 20px;
}

.placeholder {
  min-height: 1px;
}

/* Create columns for building a reactive UI */
.col-1 { width: 8.33vw }
.col-2 { width: 16.66vw }
.col-3 { width: 25vw }
.col-4 { width: 33.33vw }
.col-5 { width: 41.66vw }
.col-6 { width: 50vw }
.col-7 { width: 58.33vw }
.col-8 { width: 66.66vw }
.col-9 { width: 75vw }
.col-10 { width: 83.33vw }
.col-11 { width: 91.66vw }
.col-12 { width: 100vw }

[class*="col-"] {
  float: left;
  padding: 0;
}

/* Create columns for use in non-reactive elements */
.inner-col-half { width: 5% }
.inner-col-1 { width: 10% }
.inner-col-2 { width: 20% }
.inner-col-3 { width: 30% }
.inner-col-4 { width: 40% }
.inner-col-5 { width: 50% }
.inner-col-6 { width: 60% }
.inner-col-7 { width: 70% }
.inner-col-8 { width: 80% }
.inner-col-9 { width: 90% }
.inner-col-10 { width: 100% }

[class*="inner-col-"] {
  float: left;
  padding: 0;
}

@media screen and (min-height: 400px) and (min-width: 800px){
}

