.portfolio_section {
    width: 100%;
    display: flex;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio_container_flex {
    --container-max-width: 650px;
    --container-min-width: 200px;
    display: flex;
    flex-direction: column;
    float: left;
    width: calc(50% - 40px);
    max-width: var(--container-max-width);
    min-width: var(--container-min-width);
    border: 1px solid black;
    margin: 0 15px 20px;
}

.titlebar_flex {
    background-color: #DDA;
    display: flex;
    min-height: 40px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}

.titlebar_title {
    display: flex;
    justify-content: flex-end;
    flex-grow: 3.5;
}

.switch_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
}

.close_button_flex {
    background-color: darkred;
    color: white;
    font-family: Corbel, monospace;
    font-weight: bold;
    width: 1.4em;
    height: 1.3em;
    border-bottom: 1px solid darkred;
    cursor: default;
    margin-left: 5px;
}

.bottom_bar_flex {
    height: auto;
    max-width: calc(var(--container-max-width) - 2px);
    min-width: calc(var(--container-min-width) - 2px);
    border-top: 1px solid black;
    background-color: #DDA;
    padding: 8px 5px 15px 15px;
}

.bottom_bar_flex #text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom_bar_flex button {
    margin-top: 5px;
}

table {
    display: block;
    text-align: center;
}

thead {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*noinspection CssInvalidPropertyValue*/
tbody {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 261px;
    height: -webkit-fill-available;
    background-color: #EEE;
}

tr {
    display: block;
    background-color: #CCC;
}

tr:nth-child(even) {
    display: block;
    background-color: #AAA;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}

th {
    display: flex;
    background-color: #CCC;
    min-height: 1.8em;
    font-weight: normal;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1024px) {
    .portfolio_container_flex {
        --container-width: calc(100vw - 50px);
        width: var(--container-width);
    }

    .bottom_bar_flex {
        display: table-cell;
        height: auto;
        width: calc(var(--container-width) - 2px);
    }
}

@media screen and (max-width: 446px) {
    .bottom_bar_flex {
        padding: 2px 5px 6px 5px;
    }

    .bottom_bar_flex button {
        margin-top: 2px;
    }

    .inner-col-6 {
        width: 70%;
    }

    .inner-col-4 {
        width: 30%;
    }
}

@media screen and (max-width: 382px) {
    .bottom_bar_flex {
        padding-bottom: 4px;
    }
}


@media screen and (max-width: 266px) {
    .titlebar_flex {
        font-size: 10px;
    }
}

@media screen and (max-height: 425px) {
    .portfolio_container_flex {
        height: calc(100vh - 22px);
    }

    .titlebar_flex {
        min-height: 46px;
    }

    tbody {
        max-height: calc(100vh - 164px);
    }
}

@media screen and (max-height: 235px) {
    .portfolio_container_flex {
        height: 205px;
    }

    tbody {
        max-height: 72px;
    }
}

