* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 14px;
    background: rgba(190, 160, 190, 0.1);
}

.inner-col-half { width: 5% }
.inner-col-1 { width: 10% }
.inner-col-2 { width: 20% }
.inner-col-3 { width: 30% }
.inner-col-4 { width: 40% }
.inner-col-5 { width: 50% }
.inner-col-6 { width: 60% }
.inner-col-7 { width: 70% }
.inner-col-8 { width: 80% }
.inner-col-9 { width: 90% }
.inner-col-10 { width: 100% }

[class*="inner-col-"] {
    float: left;
    padding: 0;
}

.float-right {
    float: right;
}

table {
    display: block;
    text-align: center;
}

button {
    border: 1px solid black;
    padding: 4px;
    margin-right: 10px;
}

.App {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 70px);
    max-width: 1330px;
}

.top_bar button {
    width: 148px;
    margin-bottom: 10px;
}

.top_bar_table {
    display: table-cell;
    min-width: 150px;
    max-height: 48px;
    text-align: right;
}

.portfolio_section {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 40px);
    float: left;
    justify-content: center;
}

.portfolio_container_flex {
    --container-max-width: 650px;
    --container-min-width: 200px;
    max-width: var(--container-max-width);
    min-width: var(--container-min-width);
    display: flex;
    flex-direction: column;
    float: left;
    width: calc(50vw - 50px);
    border: 1px solid black;
    margin: 0 15px 20px;
}

.portfolio_container_flex:only-child {
    width: calc(100vW - 50px);
}

.titlebar_flex {
    background-color: #DDA;
    display: flex;
    min-height: 40px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}

.titlebar_title {
    display: flex;
    justify-content: flex-end;
    flex-grow: 3.5;
}

.switch_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
}

.close_button_flex {
    background-color: darkred;
    color: white;
    font-family: Corbel, monospace;
    font-weight: bold;
    width: 1.4em;
    height: 1.3em;
    border-bottom: 1px solid darkred;
    cursor: default;
    margin-left: 5px;
}

.close_button_flex:hover {
    background-color: firebrick;
    border: 1px solid gray;
}

.bottom_bar_flex {
    height: auto;
    max-width: calc(var(--container-max-width) - 2px);
    min-width: calc(var(--container-min-width) - 2px);
    border-top: 1px solid black;
    background-color: #DDA;
    padding: 8px 5px 15px 15px;
}

.bottom_bar_flex #text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom_bar_flex button {
    margin-top: 5px;
}

thead {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*noinspection CssInvalidPropertyValue*/
tbody {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 261px;
    height: -webkit-fill-available;

    background: linear-gradient(
            to bottom,
            rgba(220, 220, 220, 0.3),
            rgba(240, 240, 240, 0.1) 80%,
            rgba(200, 200, 200, 0.3) 50%,
            rgba(220, 220, 220, 0.3) 50%
    );
    background-size: 1% 5px;
}

tr {
    display: block;
    background-color: #CCC;
}

tr:nth-child(even) {
    display: block;
    background-color: #AAA;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}

th {
    display: flex;
    background-color: #CCC;
    min-height: 1.8em;
    font-weight: normal;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1024px) {
    .top_bar {
        width: calc(100% - 35px);
        max-width: 650px;
    }

    .portfolio_section {
        flex-wrap: wrap;
    }

    .portfolio_container_flex {
        --container-width: calc(100vw - 50px);
        width: var(--container-width);
    }

    .bottom_bar_flex {
        display: table-cell;
        height: auto;
    }
}

@media screen and (max-width: 446px) {
    .bottom_bar_flex {
        padding: 2px 5px 6px 5px;
    }

    .bottom_bar_flex button {
        margin-top: 2px;
    }

    .inner-col-6 {
        width: 70%;
    }

    .inner-col-4 {
        width: 30%;
    }
}

@media screen and (max-width: 379px) {
    .bottom_bar_flex {
        padding-bottom: 4px;
    }
}

@media screen and (max-width: 360px) {
    .top_bar {
        flex-direction: column;
        align-items: center;
    }
    .top_bar_buttons {
        width: 150px;
    }
    .top_bar_table {
        width: 150px;
        text-align: center;
    }
}

@media screen and (max-width: 266px) {
    .titlebar_flex {
        font-size: 10px;
    }
}

@media screen and (max-height: 425px) {
    .titlebar_flex {
        min-height: 46px;
    }

    tbody {
        max-height: calc(100vh - 164px);
    }

}

@media screen and (max-height: 232px) {
    tbody {
        max-height: 68px;
    }
}

