* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 14px;
}

button {
    margin-right: 10px;
}

/* Create columns for use inside reactive elements */
.inner-col-half { width: 5% }
.inner-col-1 { width: 10% }
.inner-col-2 { width: 20% }
.inner-col-3 { width: 30% }
.inner-col-4 { width: 40% }
.inner-col-5 { width: 50% }
.inner-col-6 { width: 60% }
.inner-col-7 { width: 70% }
.inner-col-8 { width: 80% }
.inner-col-9 { width: 90% }
.inner-col-10 { width: 100% }

[class*="inner-col-"] {
    float: left;
    padding: 0;
}

.App {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.float-right {
    float: right;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 50px);
    max-width: 1330px;
    margin-bottom: 1em;
}

.top_bar button {
    width: 148px;
    margin-bottom: 10px;
}

.top_bar_table {
    display: table-cell;
    min-width: 150px;
    max-height: 48px;
    text-align: right;
}

@media screen and (max-width: 1024px) {
    .top_bar {
        width: calc(100% - 35px);
        max-width: 650px;
    }
}

@media screen and (max-width: 360px) {
    .top_bar {
        flex-direction: column;
        align-items: center;
    }
    .top_bar_buttons {
        width: 150px;
    }
    .top_bar_table {
        width: 150px;
        text-align: center;
    }
}